.error {
  color: red;
  font-size: 1rem;
}

.failed {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.success {
  color: rgb(102, 187, 102);
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container form {
  overflow: hidden;
  float: none;
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  letter-spacing: 0.1rem;
  /* font-style: italic; */
  display: block;
  /* margin-bottom: 1rem; */
  margin: 1rem 0;
  font-weight: 900;
}

.form-btn {
  width: 100%;
  display: block;
  padding: 0;
  box-shadow: 1px 1px 4px 1px rgb(58, 57, 57);
  margin-top: 2rem;
  display: block;
  width: 100%;
  cursor: pointer;
}
button {
  text-transform: uppercase;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  text-align: center;
  padding: 12px 10px;
  display: block;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.contact {
  background: rgb(250, 249, 249);
}
@media screen and (min-width: 750px) {
  .container form {
    padding: 1rem 5rem 0;
  }
  .contact {
    background: rgba(216, 196, 221, 0.591);
  }

  .container input,
  .container textarea {
    padding: 9px !important;
  }
  .form-btn {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .container form {
    padding: 1.2rem 12rem 0;
  }
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: rgb(240, 233, 225);
  box-sizing: border-box;
  /* overflow: hidden; */
}
input,
textarea ::before {
  content: ' ';
  padding: 0;
  margin: 0;
}

input,
textarea ::after {
  content: ' ';
  padding: 0;
  margin: 0;
}
label,
input,
textarea:focus {
  border: none;
  /* overflow: hidden; */
  float: none;
  position: sticky;
}

button {
  border: none;
}

.appointment-form {
  /* max-width: 600px; */
  margin: auto;
}

/* form */

form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  white-space: nowrap;
  box-sizing: border-box;
  /* overflow: auto; */
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  margin: 0.375rem 0.75rem;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  /* overflow: auto; */
  box-sizing: border-box;
  object-fit: contain;
  float: none;
}

@media only screen and (min-width: 200px) and (max-width: 750px) {
  input,
  textarea {
    font-size: 16px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
  .form-control {
    max-width: 320px !important;
    margin: auto;
  }
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  margin: 0.625rem;
  resize: vertical;
}

/* -------------------------end of form---------------- */
