.error {
  color: red;
  font-size: 1rem;
  text-align: center;
}

.inputError {
  border-color: red;
  font-size: 1rem;
}
.failed {
  font-size: 1rem;
  text-align: center;
}
.success {
  color: rgb(102, 187, 102);
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container form {
  overflow: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  letter-spacing: 0.1rem;
  display: block;
  /* margin: 1rem; */
  font-weight: 900;
}

.form-btn {
  display: block;
  padding: 0;
  box-shadow: 1px 1px 4px 1px rgb(58, 57, 57);
  margin-top: 2rem;
  display: block;
  cursor: pointer;
  width: 90%;
}
button {
  text-transform: uppercase;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  text-align: center;
  padding: 12px 10px;
  display: block;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.contact {
  background: rgb(250, 249, 249);
}
@media screen and (min-width: 750px) {
  .container form {
    padding: 1rem 5rem 0;
  }
  .contact {
    background: rgba(216, 196, 221, 0.591);
  }

  .container input,
  .container textarea {
    padding: 9px;
  }
  .form-btn {
    margin-top: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .container form {
    padding: 1.2rem 12rem 0;
  }
}
@media screen and (min-width: 800px) {
  .container form {
    /* padding: 6rem 10rem; */
  }
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

/* input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: rgb(240, 233, 225);
  box-sizing: border-box;
}
input,
textarea ::before {
  content: ' ';
  padding: 0;
  margin: 0;
}

input,
textarea ::after {
  content: ' ';
  padding: 0;
  margin: 0;
} */

.appointment-container {
  max-width: 600px;
  margin: auto;
}

/* form */

/* form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
} */

/* .form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: auto;
} */

.form-control {
  display: block;
  height: 2.375rem;
  margin: 0.375rem 0.75rem;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  /* overflow: auto; */
  box-sizing: border-box;
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
  /* .form-control {
    max-width: 320px !important;
    margin: auto;
  } */
}

.form-control:focus {
  outline: 0;
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  margin: 0.625rem;
  resize: vertical;
}

/* -------------------------end of form---------------- */

@media only screen and (min-width: 200px) and (max-width: 749px) {
  label {
    margin: 30px;
  }

  .form-btn,
  .failed,
  .success {
    width: 90%;
    margin: auto;
    padding-left: 5px;
  }

  .appointment-form .form-control {
    display: block;
    margin-bottom: 20px;
    width: 88%;
    margin: auto;
  }

  .appointment-form .form-control:focus {
    outline: 0 none;
  }
  .appointment-form .input-textarea {
    display: block;
    margin-bottom: 15px;
    width: 91%;
    margin: 20px auto;
  }
  .appointment-form .input-textarea {
    outline: none;
  }
}

@media only screen and (min-width: 500px) and (max-width: 650px) {
  .form-btn,
  .failed,
  .success {
    margin: 35.9px;
    width: 86%;
  }
  .appointment-form .align {
    width: 90%;
    float: none;
    display: block;
    max-width: 600px;
    margin: auto;
  }
  .appointment-form .form-control,
  .appointment-form textarea {
    width: 85%;
  }
  label {
    margin-left: 38px;
  }
}

@media only screen and (min-width: 370px) and (max-width: 499px) {
  .form-btn,
  .failed,
  .success {
    width: 90%;
    margin: 24px auto;
  }
  label {
    /* margin-left: 30px; */
  }
}
@media only screen and (min-width: 200px) and (max-width: 340px) {
  .appointment-form .form-control,
  .appointment-form textarea {
    width: 75%;
  }
  .appointment-form .align {
    overflow: hidden;
  }
  label {
    margin-left: 30px;
  }
  .form-btn,
  .failed,
  .success {
    width: 76%;
    margin: 24px auto;
  }
}
